.Navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
}

.Navbar a {
    font-size: 23px;
    margin: 10px;
    color: green;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Navbar a:hover{
    cursor: pointer;
}