.NavBar {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.NavBar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  max-width: 1100px;
  margin: auto;
}

.NavBar .Tabs {
  display: flex;
  flex-direction: row;
}

.NavBar a {
  /* font-size: 23px; */
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: green;
  text-decoration: none;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.NavBar a:hover {
  cursor: pointer;
}

.NavBar a .Icon {
  font-size: 30px;
}

.NavBar a img {
  width: 40px;
  height: 40px;
}

.NavBar .SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
}

.SearchBar #close {
  display: none;
}

.NavBar .SearchBar #SearchIcon,
.SearchBar #close {
  color: grey;
  margin-right: 5px;
}

.NavBar .SearchBar input {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 14px;
}

.NavBar .SearchBar input:focus {
  outline: none;
}
