.EditProfile {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
}

.EditProfile .ProfPicture {
    width: 25%;
    display: flex;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.EditProfile .ProfPicture h3 {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.EditProfile .ProfPicture p {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.EditProfile .ProfPicture p:hover {
    cursor: pointer;
}

.EditProfile .ProfPicture p:last-child {
    font-weight: normal;
}

.EditProfile .ProfPicture .Seperator {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.3);
}