.Popup {
  position: fixed;
  left: 0;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popup .PopupInner {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.Popup .PopupInner p {
  position: absolute;
  top: -35px;
  right: -25px;
  background-color: green;
  color: white;
  padding: 3px 8px;
  border-radius: 20px;
  transition: 0.3s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Popup .PopupInner p:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.Popup .PopupInner .Upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Popup .PopupInner .Upload .Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Popup .PopupInner .Upload .Form input {
  width: 80%;
  padding: 7px;
  margin: 5px;
  font-size: 20px;
}

.Popup .PopupInner .Upload .Form button {
  margin-top: 5px;
  padding: 7px 20px;
  border-radius: 5px;
}

.Popup .PopupInner .Upload .Form button:hover {
  cursor: pointer;
  background-color: green;
  border: 2px solid green;
  border-radius: 5px;
}
